@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    color: var(--text-color);
}

:root {
    --text-color: white;
    --bg-url: url(/assets/bg-mobile.jpg);
    --stroke-color: rgb(255,255,255, 0.5);
    --surface-color: rgb(255,255,255, 0.05);
    --surface-color-hover: rgb(0,0,0, 0.02);
    --highlight-color: rgb(255,255,255, 0.2);
    --switch-bg: url(/assets/moon.svg);
    --spanFooter: rgb(195, 131, 255);
}

.light {
    --text-color: black;
    --bg-url: url(/assets/bg-mobile-light.jpg);
    --stroke-color: rgb(0,0,0, 0.5);
    --surface-color: rgb(0,0,0, 0.05);
    --surface-color-hover: rgb(0,0,0, 0.02);
    --highlight-color: rgb(0,0,0, 0.1);
    --switch-bg: url(/assets/sun.svg);
    --spanFooter: rgb(135, 8, 255);
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

#container {
    width: 100%;
    max-width: 588px;
    margin: 50px auto 0px;
    padding: 0 24px;
}

#profile {
    text-align: center;
    padding: 20px;
}

#profile img {
    width: 112px;
}

.name {
    margin-top: 8px;
    color: var(--text-color);
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 24px;
}

.name:hover {
    color: rgb(157, 62, 247);
    transition: 0.5s linear;
}

#switch {
    position: relative;
    width: 64px;
    margin: auto auto 30px auto;
    padding: 4px auto;
}

.light #switch button {
    animation: slide-in 0.2s forwards;
}

#switch button:hover{
    outline: 8px solid var(--highlight-color);
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-back 0.2s forwards;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 9999px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

ul li a {
    font-family: Inter;
    color: var(--text-color);
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 16px 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    font-weight: 500;
    transition: background 0.4s;
}

ul li a:hover {
    background: rgb(255, 255, 255, 0.05);
    border: 1.5px solid var(--text-color);
}

#social-icons {
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding: 1px 0;
}

#social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 16px;
    border-radius: 100%;
    transition: background 0.3s;
}

#social-icons a:hover {
    background: var(--highlight-color);
    color: black;
}

footer {
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    padding: 24px;
}

#nomeFooter {
    color: var(--spanFooter);
}

@media(min-width: 700px){
    :root{
        --bg-url: url(/assets/bg-desktop.jpg);
    }
    .light{
        --bg-url: url(/assets/bg-desktop-light.jpg);
    }
}

@keyframes slide-in{
    from{
        left: 0;
    }
    to{
        right: 50px;
    }
}

@keyframes slide-back{
    from{
        left: 50px;
    }
    to{
        left: 0;
    }
}